::-webkit-scrollbar {
  z-index: 1000;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 6%);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 8%);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 12%);
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 50%);
  cursor: pointer;
}

body {
  overflow: hidden;
}
.ant-segmented-item-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-segmented-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card > .ant-card-body {
  height: 100%;
  box-sizing: border-box;
}

#nprogress .bar {
  height: 4px;
  background: linear-gradient(
    to right,
    rgb(var(--colorPrimary-value) / 0.9) 0%,
    rgb(var(--colorPrimary-value) / 1) 100%
  ) !important;
}
